/ListaDeExercicio1/Ex1/nbproject/private/
/ListaDeExercicio1/Ex1/build/
/ListaDeExercicio1/Ex2/nbproject/private/
/ListaDeExercicio1/Ex2/build/
/ListaDeExercicio1/Ex3/nbproject/private/
/ListaDeExercicio1/Ex3/build/
/ListaDeExercicio1/Ex4/nbproject/private/
/ListaDeExercicio1/Ex4/build/
/ListaDeExercicio1/Ex5/nbproject/private/
/ListaDeExercicio1/Ex5/build/
/ListaDeExercicio1/Ex6/nbproject/private/
/ListaDeExercicio1/Ex6/build/
/ListaDeExercicio1/Ex7/nbproject/private/
/ListaDeExercicio1/Ex7/build/
/ListaDeExercicio1/Ex8/nbproject/private/
/ListaDeExercicio1/Ex8/build/
/ListaDeExercicio1/Ex9/nbproject/private/
/ListaDeExercicio1/Ex9/build/
/ListadeExerciciodeFixação1/Ex1/nbproject/private/
/ListadeExerciciodeFixação1/InterfaceEmJavaFacul/nbproject/private/
/ListaDeExercicio2/Ex1/nbproject/private/
/ListaDeExercicio2/Ex1/build/
/ListaDeExercicio2/Ex1/dist/
/ListaDeExercicio2/Ex2/nbproject/private/
/ListaDeExercicio2/Ex2/build/
/ListaDeExercicio2/Ex3/nbproject/private/
/ListaDeExercicio2/Ex3/build/
/ListaDeExercicio2/Ex4/nbproject/private/
/ListaDeExercicio2/Ex4/build/
/ListaDeExercicio2/Ex5/nbproject/private/
/ListaDeExercicio2/Ex5/build/