/ListaDeExercicio1/Ex1/nbproject/private/
/ListaDeExercicio1/Ex1/build/
/ListaDeExercicio1/Ex2/nbproject/private/
/ListaDeExercicio1/Ex2/build/
/ListaDeExercicio1/Ex3/nbproject/private/
/ListaDeExercicio1/Ex3/build/
/ListaDeExercicio1/Ex4/nbproject/private/
/ListaDeExercicio1/Ex4/build/